.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75dvh;
  width: 100dvw;
  padding: $cds-scale-base;
}

.inner {
  padding: $cds-scale-base;
  background: $cds-color-surface-primary;
  border: 1px solid $cds-color-border-primary;
  border-radius: $cds-radii-soft;

  @media (min-width: 768px) {
    padding: $cds-scale-2x-large;
  }
}