@use '../../../styles/variables.scss' as *;

.root {
  grid-area: content;
  display: grid;
  grid-template-areas: 'sidebar-left center sidebar-right';
  grid-template-columns: 1fr min(75ch, 100%) 1fr;
}