@use '../../../styles/variables.scss' as *;

.root {
	grid-area: content;
	// display: grid;
	// grid-template-columns: 1fr min(75ch, 100%) 1fr;
	// grid-template-areas: 'sidebar-left center sidebar-right';
}

$paddings: (
	'small': $spacing-06,
	'medium': $spacing-08,
	'large': $spacing-10,
);

@each $padding, $value in $paddings {
	.padding--#{$padding} {
		padding: $value;
	}
}
