.root {
	display: flex;
	flex-direction: column;
	padding: $cds-scale-x-large;
	gap: $cds-scale-small;
}

// Border

.has-border {
	outline: 1px solid $cds-color-border-primary;
}

// Alignment

.alignment--left > * {
	text-align: left;
}
.alignment--center > * {
	text-align: center;
}
.alignment--right > * {
	text-align: right;
}

// Background

.background--primary {
	background: $cds-color-surface-primary;
}
.background--faint {
	background: $cds-color-surface-faint;
}
.background--high-contrast {
	background: $cds-color-surface-high-contrast;
}
.background--brand {
	background: $cds-color-surface-brand;
}
.background--interactive {
	background: $cds-color-surface-interactive;
}
.background--success {
	background: $cds-color-surface-success;
}
.background--warning {
	background: $cds-color-surface-warning;
}
.background--critical {
	background: $cds-color-surface-critical;
}
