@use '../../../variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: $spacing-05;
  align-items: center;
  padding: $spacing-05 $spacing-08;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-02;
}

.authorLink {
  color: $color-foreground-primary;
}