.root {
	display: grid;
	grid-auto-rows: 1fr;
	align-items: stretch;
}

/* Grid columns classes */
.columns1 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 1), 1fr));
}

.columns2 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 2), 1fr));
}

.columns3 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 3), 1fr));
}

.columns4 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 4), 1fr));
}

.columns5 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 5), 1fr));
}

.columns6 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 6), 1fr));
}

.columns7 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 7), 1fr));
}

.columns8 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 8), 1fr));
}

.columns9 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 9), 1fr));
}

.columns10 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 10), 1fr));
}

.columns11 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 11), 1fr));
}

.columns12 {
	grid-template-columns: repeat(auto-fit, minmax(calc(1200px / 12), 1fr));
}
