.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--cds-scale-medium);
	padding-top: var(--cds-scale-medium);
	border-top: 1px solid var(--cds-color-border-faint);
}

.info {
	color: var(--cds-color-foreground-faint);
	font-family: var(--cds-typography-font-family-productive-body);
	font-size: var(--cds-typography-font-size-fluid-expressive-small);
}

.controls {
	display: flex;
	gap: var(--cds-scale-x-small);
}
