@import 'node_modules/cadence-tokens/dist/web/tokens.scss';

.root {
	display: flex;

	& > *:nth-child(1) {
		z-index: 10;
	}

	& > *:nth-child(2) {
		z-index: 9;
	}
	& > *:nth-child(3) {
		z-index: 8;
	}
	& > *:nth-child(4) {
		z-index: 7;
	}
	& > *:nth-child(5) {
		z-index: 6;
	}
}

.isInteractive > * {
	transition: $transition-03;

	&:hover {
		z-index: 20;
		transform: translateY(-0.5rem);
	}
}

$directions: (
	'horizontal': row,
	'vertical': column,
);

@each $direction, $value in $directions {
	.direction--#{$direction} {
		flex-direction: $value;
	}
}

.overlap.spacing--compact.direction--horizontal > *:not(:last-child) {
	margin-right: -1.5rem;
}

.overlap.spacing--default.direction--horizontal > *:not(:last-child) {
	margin-right: -0.75rem;
}

.overlap.spacing--comfortable.direction--horizontal > *:not(:last-child) {
	margin-right: -0.35rem;
}

.overlap.spacing--compact.direction--vertical > *:not(:last-child) {
	margin-bottom: -1.5rem;
}

.overlap.spacing--default.direction--vertical > *:not(:last-child) {
	margin-bottom: -0.75rem;
}

.overlap.spacing--comfortable.direction--vertical > *:not(:last-child) {
	margin-bottom: -0.35rem;
}
