.root {
  font-family: var(--cds-typography-font-family-productive-body);
  font-size: var(--cds-typography-font-size-fixed-productive-base);
  border-radius: var(--cds-radii-medium);
  border: 1px solid var(--cds-color-border-primary);
  padding: var(--cds-scale-small);
}

.root:focus {
  outline: none;
  box-shadow: 0 0 0 var(--cds-focus-ring-width) var(--cds-focus-ring-color-standard);
}

.root[disabled] {
  cursor: not-allowed;
}

.is-invalid {
  border: 2px solid var(--cds-color-border-critical);
}

.is-invalid:focus {
  outline: none;
  box-shadow: 0 0 0 var(--cds-focus-ring-width) var(--cds-focus-ring-color-critical);
}