.content-wrapper--root {
	background: lightgray;
	grid-area: content;
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
}

// $sizes: (
// 	'small': 4,
// 	'medium': 6,
// 	'large': 8,
// 	'full-bleed': 12,
// );

// @each $size, $value in $sizes {
// 	.content-wrapper--span-#{$size} {
// 		grid-column: span $value;
// 	}
// }
