.cds-input--root {
	font-family: $cds-typography-font-family-productive-body;
	font-size: $cds-typography-font-size-fixed-productive-base;
	border-radius: $cds-radii-medium;
	border: 1px solid $cds-color-border-primary;
	padding: $cds-scale-small;
}

.cds-input--root[disabled] {
	cursor: not-allowed;
}

.cds-input--is-invalid {
	border: 2px solid $cds-color-border-critical;
}

