.root {
  display: flex;
  flex-direction: column;
}

.borderPrimary {
  outline-color: var(--cds-color-border-primary);
  outline-width: 1px;
  outline-style: solid;
}

.borderFaint {
  outline-color: var(--cds-color-border-faint);
  outline-width: 1px;
  outline-style: solid;
}

.borderNone {
  outline-color: none;
}