.root {
  display: flex;
  flex-direction: column;
}

.border-primary {
  outline-color: var(--cds-color-border-primary);
  outline-width: 1px;
  outline-style: solid;
}

.border-faint {
  outline-color: var(--cds-color-border-faint);
  outline-width: 1px;
  outline-style: solid;
}

.border-none {
  outline-color: none;
}