.root {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline;
  text-decoration: underline;
}

$types: (
  'interactive': (
    'default': $color-foreground-interactive-default,
    'hover': $color-foreground-interactive-hover,
    'active': $color-foreground-interactive-active,
  ),
  'primary': (
    'default': $color-foreground-primary,
  ),
  'secondary': (
    'default': $color-foreground-secondary,
  ),
);

@each $type, $colors in $types {
  .type--#{$type} {
    color: map-get($colors, 'default');
    text-decoration-color: map-get($colors, 'default');
    text-decoration-thickness: 1.5px; 
    text-underline-offset: 2px;
  }
}