DS_STORE
DS_Store
DS_store
.DS_store
.DS_Store
.DS_STORE

node_modules

.turbo
packages/**/.turbo
apps/**/.turbo

# Cypress artifacts
cypress/screenshots
cypress/videos
apps/**/cypress/screenshots
apps/**/cypress/videos
*.mp4