node_modules
.changeset
.turbo
package.json
package-lock.json
pnpm-workspace.yaml
pnpm-lock.yaml

# Apps
apps/**/node_modules
apps/**/.next
apps/**/build
apps/**/dist

# Packages
packages/**/node_modules
packages/**/.next
packages/**/build
packages/**/dist