@use '../../variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: $spacing-05;
}

.styledLink {
  font-family: $typography-font-family-productive-body;
  font-weight: normal;
  font-size: $typography-font-size-fixed-productive-base;
  text-decoration: none;
  color: $color-foreground-strong;
  transition: $transition-02;

  &:hover {
    color: $color-foreground-interactive-hover;
  }

  &:active {
    color: $color-foreground-interactive-active;
  }
}