.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--cds-scale-2x-small);
  font-size: var(--cds-typography-font-size-fixed-productive-small);
  font-family: var(--cds-typography-font-family-productive-body);
  font-weight: 600;
}

.success {
  color: var(--cds-color-foreground-success-default);
}

.warning {
  color: var(--cds-color-foreground-warning-default);
}

.error {
  color: var(--cds-color-foreground-critical-default);
}

/* Icon wrapper */
.icon {
  padding: 2px;
}