.cds-textarea--root {
	font-family: $cds-typography-font-family-productive-body;
	font-size: $cds-typography-font-size-fixed-productive-base;
	border-radius: $cds-radii-medium;
	border: 1px solid $cds-color-border-primary;
	padding: $cds-scale-small;
}
