@use '../../variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $radius-default;
  border: 1px solid $color-palette-neutral-400;
  text-decoration: none;
  overflow: hidden;

  article {
    height: 100%;
  }
}

.imageWrapper {
  position: relative;
  height: 180px;
}