@use '../../../variables.scss' as *;

.wrapper {
	display: flex;
	flex-direction: row;
	gap: $spacing-05;
	justify-content: space-between;

	@media (max-width: 899px) {
		display: none;
		position: fixed;
		top: 101.15px;
		left: 0;
		flex-direction: column;
		padding: $spacing-06 $spacing-05;
		background: $color-surface-primary;
		width: 100vw;
		height: calc(100vh - 101.15px);
		z-index: 10;
	}
}

.accountActions {
	display: none;
}

.navLinksOpen {
	display: flex;

	.accountActions {
		display: flex;
		flex-direction: column;
		gap: $spacing-05;
	}
}

.linkWrapper {
	display: flex;
	flex-direction: row;
	gap: $spacing-05;

	@media (max-width: 899px) {
		flex-direction: column;
	}
}

.styledLink {
	font-family: $typography-font-family-productive-body;
	font-weight: normal;
	font-size: $typography-font-size-fixed-productive-base;
	text-decoration: none;
	color: $color-foreground-strong;
	transition: $transition-02;

	&:hover {
		color: $color-foreground-interactive-hover;
	}

	&:active {
		color: $color-foreground-interactive-active;
	}

	@media (max-width: 899px) {
		font-size: $typography-font-size-fixed-productive-x-large;
	}
}
