@use '../../../variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
  width: 100%;
	background: $color-palette-neutral-100;
	border-bottom: 1px solid $color-palette-neutral-400;
}

.content {
  width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: $spacing-02 $spacing-06;

	@media (max-width: 899px) {
		padding: $spacing-03 $spacing-06;
	}

	@media (max-width: 550px) {
		padding: $spacing-03 $spacing-05;
	}
}

.banner {
	display: flex;
	flex-direction: row;
	gap: $spacing-04;
	align-items: center;

	@media (max-width: 550px) {
		// flex-direction: column;
		// align-items: flex-start;
		gap: $spacing-02;
	}
}

.accountActions {
	display: flex;
	flex-direction: row;
	gap: $spacing-04;

	@media (max-width: 899px) {
		display: none;
	}
}

.bannerBadge {
	display: inherit;
}

.bannerText {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@media (max-width: 500px) {
		display: none;
	}
}