@use '../../../variables.scss' as *;

.toggleButton {
  font-family: $typography-font-family-productive-body;
  color: $color-foreground-interactive-default;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 4px;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 900px) {
    display: none;
  }

  @media (max-width: 899px) {
    display: block;
    // position: fixed;
    // top: $spacing-08;
    // right: $spacing-08;
    // z-index: 11;
  }
}