@use 'node_modules/cadence-tokens/dist/web/tokens.scss' as *;

.button--root {
	align-items: center;
	border-radius: $cds-radii-medium;
	display: inline-flex;
	flex-direction: row;
	font-family: $cds-typography-font-family-productive-body;
	transition: $cds-transition-02;
	justify-content: center;
	text-decoration: none;
	width: fit-content;
	height: fit-content;

	&:hover {
		cursor: pointer;
	}
}

// Size

.x-small {
	padding: 4px 10px;
	font-size: $cds-typography-font-size-fixed-productive-x-small;
}

.small {
	padding: 6px 16px;
	font-size: $cds-typography-font-size-fixed-productive-small;
}

.medium {
	padding: 8px 20px;
	font-size: $cds-typography-font-size-fixed-productive-base;
}

.large {
	padding: 9px 24px;
	font-size: $cds-typography-font-size-fixed-productive-large;
}

// Variant

.primary {
	border: none;
	background: $cds-color-palette-blueberry-600;
	color: $cds-color-foreground-high-contrast;

	&:hover {
		background: $cds-color-palette-blueberry-700;
	}

	&:active {
		background: $cds-color-palette-blueberry-700;
	}
}

.secondary {
	background: transparent;
	border-width: 1px;
	border-color: $cds-color-border-primary;
	border-style: solid;
	color: $cds-color-foreground-primary;

	&:hover {
		background: $cds-color-palette-blackberry-100;
	}

	&:active {
		background: $cds-color-palette-blackberry-200;
	}
}

.ghost {
	border: none;
	background: transparent;
	color: $cds-color-palette-blueberry-500;

	&:hover {
		background: $cds-color-palette-blueberry-200;
		color: $cds-color-palette-blueberry-600;
	}

	&:active {
		background: $cds-color-palette-blueberry-300;
		color: $cds-color-palette-blueberry-700;
	}
}

.destructive {
	border: none;
	background: $cds-color-palette-peach-600;
	color: $cds-color-foreground-high-contrast;

	&:hover {
		background: $cds-color-palette-peach-700;
	}

	&:active {
		background: $cds-color-palette-peach-700;
	}
}

// Full width

.is-full-width {
	width: 100%;
}
