.table-head {
  padding: $cds-scale-base;
  font-family: $cds-typography-font-family-productive-body;
  font-size: $cds-typography-font-size-fixed-productive-base;
  line-height: $cds-typography-line-height-productive-body;
  color: $cds-color-foreground-strong;
}

.table-head--alignment-start {
  text-align: left;
}

.table-head--alignment-end {
  text-align: right;
}