.root {
  border: 1px solid;
	border-radius: var(--radius-default);
	font-family: var(--typography-font-family-productive-body);
	font-weight: 400;
	line-height: var(--typography-line-height-productive-body);
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 0;
	flex-wrap: nowrap;
	gap: var(--spacing-03);
	align-self: flex-start;
	transition: var(--transition-02);
	text-decoration: none;
  cursor: pointer;
}

@import './cds-button.variants.css';
@import './cds-button.sizes.css';

.full-width {
  width: 100%;
}