:host {
	--cds-button-font-size: var(--typography-font-size-fixed-productive-base);
	--cds-button-padding: 7px 1.25rem;
	--cds-button-text-color: var(--color-foreground-high-contrast);
	--cds-button-background-color: var(--color-palette-blueberry-600);
	--cds-button-border-color: var(--color-palette-blueberry-700);
}

.root {
	font-size: var(--cds-button-font-size);
	padding: var(--cds-button-padding);
	color: var(--cds-button-text-color);
	background: var(--cds-button-background-color);
	border-color: var(--cds-button-border-color);
  border: 1px solid;
	border-radius: var(--radius-default);
	font-family: var(--typography-font-family-productive-body);
	font-weight: 400;
	line-height: var(--typography-line-height-productive-body);
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 0;
	flex-wrap: nowrap;
	gap: var(--spacing-03);
	align-self: flex-start;
	transition: var(--transition-02);
	text-decoration: none;
  cursor: pointer;
}

/* Full width */

.isFullWidth {
  width: 100%;
}

/* Sizes */

.size--large {
  font-size: var(--typography-font-size-fixed-productive-large);
	padding: 8px 1.5rem;
}

.size--medium {
	font-size: var(--typography-font-size-fixed-productive-base);
	padding: 7px 1.25rem;
}

.size--small {
	font-size: var(--typography-font-size-fixed-productive-small);
	padding: 5px 1rem;
}

.size--x-small {
	font-size: var(--typography-font-size-fixed-productive-x-small);
	padding: 2px 0.625rem;
}

/* Variants */

/* -- Primary */

.variant--primary {
  --cds-button-text-color: var(--color-foreground-high-contrast);
	--cds-button-background-color: var(--color-palette-blueberry-600);
	--cds-button-border-color: var(--color-palette-blueberry-700);
}

.variant--primary:hover {
  --cds-button-text-color: var(--color-foreground-high-contrast);
  --cds-button-background-color: var(--color-palette-blueberry-700);
  --cds-button-border-color: var(--color-palette-blueberry-800);
}

.variant--primary:active {
  --cds-button-text-color: var(--color-foreground-high-contrast);
  --cds-button-background-color: var(--color-palette-blueberry-800);
  --cds-button-border-color: var(--color-palette-blueberry-900);
}

/* -- Secondary */

.variant--secondary {
  --cds-button-text-color: var(--color-palette-blackberry-700);
	--cds-button-background-color: var(--color-palette-neutral-200);
	--cds-button-border-color: var(--color-palette-neutral-600);
}

.variant--secondary:hover {
  --cds-button-text-color: var(--color-palette-blackberry-700);
  --cds-button-background-color: var(--color-palette-neutral-300);
  --cds-button-border-color: var(--color-palette-neutral-600);
}

.variant--secondary:active {
  --cds-button-text-color: var(--color-palette-blackberry-700);
  --cds-button-background-color: var(--color-palette-neutral-400);
  --cds-button-border-color: var(--color-palette-neutral-600);
}

/* -- Tertiary */

.variant--tertiary {
  --cds-button-text-color: var(--color-palette-blueberry-600);
	--cds-button-background-color: transparent;
	--cds-button-border-color: transparent;
}

.variant--tertiary:hover {
  --cds-button-text-color: var(--color-palette-blueberry-700);
  --cds-button-background-color: var(--color-palette-blueberry-100);
  --cds-button-border-color: transparent;
}

.variant--tertiary:active {
  --cds-button-text-color: var(--color-palette-blueberry-800);
  --cds-button-background-color: var(--color-palette-blueberry-200);
  --cds-button-border-color: transparent;
}

/* -- Destructive */

.variant--destructive {
  --cds-button-text-color: var(--color-foreground-high-contrast);
	--cds-button-background-color: var(--color-palette-pomegranate-500);
	--cds-button-border-color: var(--color-palette-pomegranate-600);
}

.variant--destructive:hover {
  --cds-button-text-color: var(--color-foreground-high-contrast);
  --cds-button-background-color: var(--color-palette-pomegranate-600);
  --cds-button-border-color: var(--color-palette-pomegranate-700);
}

.variant--destructive:active {
  --cds-button-text-color: var(--color-foreground-high-contrast);
  --cds-button-background-color: var(--color-palette-pomegranate-700);
  --cds-button-border-color: var(--color-palette-pomegranate-800);
}