/* Sizes */

.size--large {
  font-size: var(--typography-font-size-fixed-productive-large);
	padding: 8px 1.5rem;
}

.size--default {
	font-size: var(--typography-font-size-fixed-productive-base);
	padding: 7px 1.25rem;
}

.size--small {
	font-size: var(--typography-font-size-fixed-productive-small);
	padding: 5px 1rem;
}

.size--x-small {
	font-size: var(--typography-font-size-fixed-productive-x-small);
	padding: 2px 0.625rem;
}