.cds-form--root {
	display: flex;
	flex-direction: column;
}

/* Spacing */

.cds-form--spacing-none {
	gap: 0;
}

.cds-form--spacing-small {
	gap: var(--cds-scale-base);
}

.cds-form--spacing-medium {
	gap: var(--cds-scale-x-large);
}

.cds-form--spacing-large {
	gap: var(--cds-scale-3x-large);
}