// Viewport

.toast--viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  padding: $cds-scale-large;
}

// Base styles

.toast--base {
  padding: $cds-scale-base;
  border-radius: $cds-radii-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: $cds-scale-x-small;
  box-shadow: 2px 2px 8px 0 hsla(240, 36%, 22%, 25%);
  min-width: 25vw;
  transition: all 0.5s ease;

  & > div {
    display: flex;
    flex-direction: column;
    gap: $cds-scale-2x-small;
  }

  @media (max-width: 768px) {
    min-width: 50vw;
  }

  @media (max-width: 480px) {
    min-width: 90vw;
  }
}

// Variants

.toast--variant-default {
  background: $cds-color-palette-blackberry-100;
  border: 1px solid $cds-color-palette-blackberry-400;
  color: $cds-color-foreground-primary;
  transition: all 0.5s ease;

  & svg {
    color: $cds-color-palette-blackberry-500;
  }
}

.toast--variant-success {
  background: $cds-color-palette-kale-100;
  border: 1px solid $cds-color-palette-kale-600;
  color: $cds-color-foreground-primary;

  & svg {
    color: $cds-color-palette-kale-600;
  }
}

.toast--variant-warning {
  background: $cds-color-palette-pineapple-100;
  border: 1px solid $cds-color-palette-pineapple-600;
  color: $cds-color-foreground-primary;

  & svg {
    color: $cds-color-palette-pineapple-600;
  }
}

.toast--variant-error {
  background: $cds-color-palette-peach-100;
  border: 1px solid $cds-color-palette-peach-400;
  color: $cds-color-foreground-primary;

  & svg {
    color: $cds-color-palette-peach-600;
  }
}

// Title

.toast--title {
  font-weight: bold;
  font-family: $cds-typography-font-family-productive-body;
  font-size: $cds-typography-font-size-fixed-productive-base;
}

// Description

.toast--description {
  font-family: $cds-typography-font-family-productive-body;
  font-size: $cds-typography-font-size-fixed-productive-small;
}

// Action

.toast--action {
  display: inline-flex;
}

// Close button

.toast--close {
  position: absolute;
  top: $cds-scale-2x-large;
  right: $cds-scale-2x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
}
