// Viewport

.toast--viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: $cds-scale-base;
  padding: $cds-scale-large;
  height: fit-content;
  transition: height 0.5s ease;
}

// Toast element

.toast--base {
  position: relative;
  padding: $cds-scale-base;
  border-radius: $cds-radii-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: $cds-scale-x-small;
  box-shadow: 2px 2px 8px 0 hsla(240, 36%, 22%, 25%);
  min-width: 25vw;
  transition: $cds-transition-07;

  & > div {
    display: flex;
    flex-direction: column;
    gap: $cds-scale-2x-small;
  }

  @media (max-width: 768px) {
    min-width: 50vw;
  }

  @media (max-width: 480px) {
    min-width: 90vw;
  }
}

// -- Variants

.toast--variant-default {
  background: $cds-color-palette-blackberry-100;
  border: 1px solid $cds-color-palette-blackberry-400;
  color: $cds-color-foreground-primary;
  transition: all 0.5s ease;
}

.toast--variant-success {
  background: $cds-color-palette-kale-100;
  border: 1px solid $cds-color-palette-kale-600;
  color: $cds-color-foreground-primary;
}

.toast--variant-warning {
  background: $cds-color-palette-pineapple-100;
  border: 1px solid $cds-color-palette-pineapple-600;
  color: $cds-color-foreground-primary;
}

.toast--variant-error {
  background: $cds-color-palette-peach-100;
  border: 1px solid $cds-color-palette-peach-400;
  color: $cds-color-foreground-primary;
}

// -- Direction

.toast--direction-from-bottom {
  animation: slide-up 0.2s ease;
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.toast--direction-from-right {
  animation: slide-left 0.2s ease;
  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

// Title

.toast--title {
  font-weight: bold;
  font-family: $cds-typography-font-family-productive-body;
  font-size: $cds-typography-font-size-fixed-productive-base;
}

// Description

.toast--description {
  font-family: $cds-typography-font-family-productive-body;
  font-size: $cds-typography-font-size-fixed-productive-small;
}

// Action

.toast--action {
  display: inline-flex;
}

// Close button

.toast--close {
  position: absolute;
  top: $cds-scale-base;
  right: $cds-scale-base;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: $cds-color-palette-blackberry-100;
  color: $cds-color-palette-blackberry-500;
  border-radius: $cds-radii-hard;
  border: 1px solid $cds-color-palette-blackberry-300;
  padding: 2px;
  transition: $cds-transition-02;

  &:hover {
    background: $cds-color-palette-blackberry-200;
  }

  &:active {
    background: $cds-color-palette-blackberry-300;
  }
}
