.root {
  overflow: hidden;
}

.root:focus {
  outline: var(--cds-focus-ring-width) solid var(--cds-focus-ring-color-standard);
  outline-offset: var(--cds-focus-ring-offset);
}

.root[open] {
  .icon {
    transform: rotate(90deg);
  }
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cds-scale-x-small);
  background: var(--cds-color-surface-primary);
  transition: background 0.1s ease-in-out;

  /* Remove the default marker */
  &::marker {
    content: '';
  }
}

.title:hover {
  cursor: pointer;
  background: var(--cds-color-palette-blackberry-100);
}

/* Type */
.typeContained {
  border: 1px solid var(--cds-color-border-primary);
  border-radius: var(--cds-radii-soft);
}

.typeFlush {
  border-bottom: 1px solid var(--cds-color-palette-blackberry-300);
}

/* Content */
.content {
  background: var(--cds-color-surface-primary);
}

/* Size */
.sizeSmall {
  padding: var(--cds-scale-small);
}

.sizeMedium {
  padding: var(--cds-scale-base);
}

.sizeLarge {
  padding: var(--cds-scale-large);
}

/* Icon */
.icon {
  transition: transform 0.15s ease-in-out;
}