@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.root {
	position: relative;
	display: block;
	min-height: 400px;
	margin: $cds-scale-2x-large 0;
	outline: 1px solid $cds-color-border-primary;
	border-radius: $cds-radii-soft;
	overflow: hidden;

	img {
		position: relative;
		object-fit: cover;
	}
}

.collapse {
	margin: 0 0;
}

// Caption Wrapper

.caption-wrapper {
	position: absolute;
	bottom: 0;
	padding: $cds-scale-x-small;
	border-bottom-left-radius: $cds-radii-soft;
	border-top-right-radius: $cds-radii-medium;
	outline: 1px solid $cds-color-border-primary;
	background: $cds-color-surface-primary;
	max-width: 90%;
}
