.root {
  display: flex;
  flex-direction: column;
}

/* Spacing */
.spacing-none {
  gap: 0;
}

.spacing-small {
  gap: var(--cds-scale-base);
}

.spacing-medium {
  gap: var(--cds-scale-x-large);
}

.spacing-large {
  gap: var(--cds-scale-3x-large);
}