.root {
  display: flex;
  flex-direction: column;
}

/* Spacing */
.spacingNone {
  gap: 0;
}

.spacingSmall {
  gap: var(--cds-scale-base);
}

.spacingMedium {
  gap: var(--cds-scale-x-large);
}

.spacingLarge {
  gap: var(--cds-scale-3x-large);
}
