.root {
  display: flex;
  flex-direction: column;
  gap: var(--cds-scale-small);
  background: var(--cds-color-palette-blackberry-700);
  border-radius: var(--cds-radii-soft);
  padding: var(--cds-scale-base);
} 