@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.app-frame--root {
	display: grid;
	grid-template-rows: min-content calc(100vh - 50px) min-content;
	grid-template-areas: 'header' 'content' 'footer';
	min-width: 100vw;
	background: $cds-color-page-primary;
}
