.appframeRoot {
	display: grid;
	grid-template-areas:
		'header header header'
		'sidebar-start content sidebar-end'
		'sidebar-start footer sidebar-end';
	// grid-template-columns: 100px 800px 100px;
	// grid-template-rows: 50px 800px 50px;
	width: 100%;
	height: 100%;
}
