.root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.track-navigation {
	display: flex;
	flex-direction: row;
	gap: var(--cds-scale-x-small);
	align-items: center;
}

.volume {
	display: flex;
	flex-direction: row;
	gap: var(--cds-scale-x-small);
	align-items: center;
}

.volume-slider {
	-webkit-appearance: none;
	appearance: none;
	height: var(--cds-scale-2x-small);
	background: var(--cds-color-surface-primary);
	border-radius: 2px;
}

.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--cds-color-palette-blueberry-500);
	height: var(--cds-scale-large);
	width: var(--cds-scale-large);
	border-radius: 50%;
	border: var(--cds-border-width-thin) solid var(--cds-color-palette-blueberry-600);
	cursor: ew-resize;
	position: relative;
	top: -8px;
}

.volume-slider::-webkit-slider-runnable-track {
	height: var(--cds-scale-2x-small);
	border-radius: 2px;
	cursor: pointer;
	background: var(--cds-color-palette-blackberry-50);
	box-shadow: none;
}

.volume-slider::-moz-range-track {
	height: var(--cds-scale-2x-small);
	border-radius: 4px;
	cursor: pointer;
	background: var(--cds-color-palette-blackberry-50);
	box-shadow: none;
}
