.root {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--cds-color-surface-primary);
	border: none;
}

.size--small {
	width: var(--cds-scale-2x-large);
	height: var(--cds-scale-2x-large);
	border-radius: 50%;
}

.size--medium {
	width: var(--cds-scale-3x-large);
	height: var(--cds-scale-3x-large);
	border-radius: 50%;
}

.size--large {
	width: var(--cds-scale-4x-large);
	height: var(--cds-scale-4x-large);
	border-radius: 50%;
}
