@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.root {
	grid-area: image;
	position: relative;
	min-height: 200px;
	outline: 1px solid $cds-color-border-primary;

	& a img {
		object-fit: cover;
	}
}
