@use '@downbeat-academy/cadence-tokens/dist/web/tokens.scss' as *;

.button {
    background: $color-core-passion-fruit-600;
    border: 1px solid $color-core-passion-fruit-700;
    border-radius: 6px;
    color: $color-foreground-high-contrast;
}