@use '@downbeat-academy/cadence-tokens/dist/web/tokens.scss' as *;

@mixin button-base {
    border: 1px solid;
    border-radius: 8px;
    font-family: $typography-font-productive-body;
    font-weight: 700;
    line-height: $typography-line-height-productive-body;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0;
    gap: $spacing-03;
}