// Tabs list

.tabs--list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: $cds-scale-x-small;
	padding: $cds-scale-x-small;
}

.tabs--list--contained {
	border: 1px solid $cds-color-palette-blackberry-200;
	border-radius: $cds-radii-soft;
	background: $cds-color-palette-blackberry-100;
}

// Tabs trigger

.tabs--trigger {
	font-family: $cds-typography-font-family-productive-body;
	font-size: $cds-typography-font-size-fixed-productive-base;
	color: $cds-color-palette-blackberry-400;
	background: $cds-color-palette-blackberry-50;
	padding: $cds-scale-small $cds-scale-base;
	border: 1px solid $cds-color-palette-blackberry-200;
	border-radius: $cds-radii-medium;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	gap: $cds-scale-x-small;
	justify-content: center;
	align-items: center;
	transition: $cds-transition-03;

	&:hover {
		cursor: pointer;
		background: $cds-color-palette-blackberry-100;
		border-color: $cds-color-palette-blackberry-300;
	}

	&[data-state='active'] {
		background: $cds-color-palette-blackberry-600;
		color: $cds-color-foreground-high-contrast;
		border: $cds-color-palette-blackberry-700;
		box-shadow: $cds-elevation-box-shadow-base;

		&:hover {
			background: $cds-color-palette-blackberry-700;	
		}
	}
}

// Tabs content

.tabs--content {
	// Padding

	&--padding--none {
		padding: 0;
	}
	&--padding--2x-small {
		padding: $cds-scale-2x-small;
	}
	&--padding--x-small {
		padding: $cds-scale-x-small;
	}
	&--padding--small {
		padding: $cds-scale-small;
	}
	&--padding--medium {
		padding: $cds-scale-base;
	}
	&--padding--large {
		padding: $cds-scale-large;
	}
	&--padding--x-large {
		padding: $cds-scale-x-large;
	}
	&--padding--2x-large {
		padding: $cds-scale-2x-large;
	}
	&--padding--3x-large {
		padding: $cds-scale-3x-large;
	}

	// Background

	&--background--primary {
		background: $cds-color-surface-primary;
	}
	&--background--faint {
		background: $cds-color-surface-faint;
	}
	&--background--high-contrast {
		background: $cds-color-surface-high-contrast;
	}
	&--background--brand {
		background: $cds-color-surface-brand;
	}
	&--background--interactive {
		background: $cds-color-surface-interactive;
	}
	&--background--success {
		background: $cds-color-surface-success;
	}
	&--background--warning {
		background: $cds-color-surface-warning;
	}
	&--background--critical {
		background: $cds-color-surface-critical;
	}
}
