.root path {
	fill: var(--cds-color-foreground-brand-default);
}

.contrastHigh path {
	fill: var(--cds-color-foreground-high-contrast);
}

.variantStrong path {
	fill: var(--cds-color-foreground-strong);
}

.variantInteractive path {
	fill: var(--cds-color-foreground-interactive-default);
}

.variantSuccess path {
	fill: var(--cds-color-foreground-success-default);
}

.variantWarning path {
	fill: var(--cds-color-foreground-warning-default);
}

.variantCritical path {
	fill: var(--cds-color-foreground-critical-default);
}