.cds-logo--root path {
	fill: var(--cds-color-foreground-brand-default);
}

.cds-logo--contrast-high path {
	fill: var(--cds-color-foreground-high-contrast);
}

.cds-logo--variant-strong path {
	fill: var(--cds-color-foreground-strong);
}

.cds-logo--variant-interactive path {
	fill: var(--cds-color-foreground-interactive-default);
}

.cds-logo--variant-success path {
	fill: var(--cds-color-foreground-success-default);
}

.cds-logo--variant-warning path {
	fill: var(--cds-color-foreground-warning-default);
}

.cds-logo--variant-critical path {
	fill: var(--cds-color-foreground-critical-default);
}