.root path {
	fill: var(--cds-color-foreground-brand-default);
}

.contrast-high path {
	fill: var(--cds-color-foreground-high-contrast);
}

.variant-strong path {
	fill: var(--cds-color-foreground-strong);
}

.variant-interactive path {
	fill: var(--cds-color-foreground-interactive-default);
}

.variant-success path {
	fill: var(--cds-color-foreground-success-default);
}

.variant-warning path {
	fill: var(--cds-color-foreground-warning-default);
}

.variant-critical path {
	fill: var(--cds-color-foreground-critical-default);
}