.badge {	
  font-family: var(--typography-font-family-productive-body);
	font-weight: bold;
	display: inline-flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-soft);
	box-sizing: border-box;
	text-decoration: none;
	width: fit-content;
	height: fit-content;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
}

/* Size */

.size--small {
	font-size: var(--typography-font-size-fixed-productive-x-small);
	line-height: 16px;
	padding: 0 var(--spacing-02);
	flex-gap: var(--spacing-02);
}

.size--default {
	font-size: var(--typography-font-size-fixed-productive-small);
	line-height: 20px;
	padding: 0 var(--spacing-02);
	flex-gap: var(--spacing-02);
}

.size--large {
	font-size: var(--typography-font-size-fixed-productive-base);
	line-height: 24px;
	padding: 0 var(--spacing-02);
	flex-gap: var(--spacing-02);
}

/* Type */

.type--neutral {
  --light-color: var(--color-palette-neutral-200);
	--dark-color: var(--color-palette-neutral-800);
}

.type--informational {
	--light-color: var(--color-palette-blueberry-200);
	--dark-color: var(--color-palette-blueberry-800);
}

.type--warning {
	--light-color: var(--color-palette-pineapple-200);
	--dark-color: var(--color-palette-pineapple-800);
}

.type--critical {
	--light-color: var(--color-palette-pomegranate-200);
	--dark-color: var(--color-palette-pomegranate-800);
}

.type--positive {
	--light-color: var(--color-palette-kale-200);
	--dark-color: var(--color-palette-kale-800);
}

/* Badge Style */

.badgeStyle--fill {
	background-color: var(--light-color);
	color: var(--dark-color);
	border-color: transparent;
}

.badgeStyle--outline {
	background-color: transparent;
	color: var(--dark-color);
	border-color: var(--dark-color);
}

.badgeStyle--inverse {
	background-color: var(--dark-color);
	color: var(--light-color);
	border-color: transparent;
}
