.file_download--root {
  padding: var(--cds-scale-2x-large);
  background: var(--cds-color-surface-primary);
  border: 1px solid var(--cds-color-border-primary);
  border-radius: var(--cds-radii-soft);
  margin-bottom: var(--cds-scale-2x-large);
  display: flex;
  flex-direction: column;
  gap: var(--cds-scale-base);
} 