.file_download--root {
	padding: $cds-scale-2x-large;
	background: $cds-color-surface-primary;
	border: 1px solid $cds-color-border-primary;
	border-radius: $cds-radii-soft;
	margin-bottom: $cds-scale-2x-large;
	display: flex;
	flex-direction: column;
	gap: $cds-scale-base;
}
