@import '@downbeat-academy/cadence-tokens';

.root {
	font-family: var(--typography-font-family-productive-body);
	font-weight: 400;
	display: inline-flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-soft);
	box-sizing: border-box;
	text-decoration: none;

	/* Define local variables */
	color: var(--text-color);
	background: var(--background-color);
	border: 1px solid var(--border-color);
	font-size: var(--font-size);
	line-height: var(--line-height);
	padding: var(--padding);
	gap: var(--flex-gap);
}

/* Styles */

.fill {
	--text-color: var(--color-dark);
	--background-color: var(--color-light);
}
.outline {
	--text-color: var(--color-dark);
	--background-color: none;
	--border-color: var(--color-dark);
}
.inverse {
	--text-color: var(--color-light);
	--background-color: var(--color-dark);
}

/* Types */

.neutral {
	--color-dark: var(--color-palette-neutral-800);
	--color-light: var(--color-palette-neutral-200);
}
.informational {
	--color-dark: var(--color-palette-blueberry-800);
	--color-light: var(--color-palette-blueberry-200);
}
.positive {
	--color-dark: var(--color-palette-kale-800);
	--color-light: var(--color-palette-kale-200);
}
.warning {
	--color-dark: var(--color-palette-pineapple-800);
	--color-light: var(--color-palette-pineapple-200);
}
.critical {
	--color-dark: var(--color-palette-pomegranate-800);
	--color-light: var(--color-palette-pomegranate-200);
}

/* Sizes */

.small {
	--font-size: var(--typography-font-size-fixed-productive-x-small);
	--line-height: 16px;
	--padding: 0 var(--spacing-02);
	--flex-gap: var(--spacing-02);
}

.default {
	--font-size: var(--typography-font-size-fixed-productive-small);
	--line-height: 20px;
	--padding: 0 var(--spacing-02);
	--flex-gap: var(--spacing-02);
}

.large {
	--font-size: var(--typography-font-size-fixed-productive-base);
	--line-height: 24px;
	--padding: 0 var(--spacing-02);
	--flex-gap: var(--spacing-03);
}
