.root {
  display: inline-flex;
  flex-direction: row;
  font-family: var(--cds-typography-font-family-productive-body);
  font-weight: 700;
  border-radius: var(--cds-radii-soft);
  width: fit-content;
}

/* Size */

.small {
  font-size: var(--cds-typography-font-size-fixed-productive-x-small);
  line-height: 16px;
  padding: var(--cds-scale-3x-small) var(--cds-scale-x-small);
}

.medium {
  font-size: var(--cds-typography-font-size-fixed-productive-small);
  line-height: 20px;
  padding: var(--cds-scale-3x-small) var(--cds-scale-x-small);
}

.large {
  font-size: var(--cds-typography-font-size-fixed-productive-base);
  line-height: 24px;
  padding: var(--cds-scale-2x-small) var(--cds-scale-small);
}

/* Style + color */

.filledNeutral {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-blackberry-600);
}

.filledInfo {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-blueberry-600);
}

.filledSuccess {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-kale-600);
}

.filledWarning {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-pineapple-600);
}

.filledError {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-peach-600);
}

.filledHighlight {
  color: var(--cds-color-foreground-high-contrast);
  background: var(--cds-color-palette-violet-600);
}

.outlinedNeutral {
  border: 1px solid var(--cds-color-palette-blackberry-700);
  color: var(--cds-color-palette-blackberry-700);
}

.outlinedInfo {
  border: 1px solid var(--cds-color-palette-blueberry-700);
  color: var(--cds-color-palette-blueberry-700);
}

.outlinedSuccess {
  border: 1px solid var(--cds-color-palette-kale-700);
  color: var(--cds-color-palette-kale-700);
}

.outlinedWarning {
  border: 1px solid var(--cds-color-palette-pineapple-700);
  color: var(--cds-color-palette-pineapple-700);
}

.outlinedError {
  border: 1px solid var(--cds-color-palette-peach-700);
  color: var(--cds-color-palette-peach-700);
}

.outlinedHighlight {
  border: 1px solid var(--cds-color-palette-violet-600);
  color: var(--cds-color-palette-violet-600);
}

.lightNeutral {
  background: var(--cds-color-palette-blackberry-100);
  color: var(--cds-color-palette-blackberry-600);
}

.lightInfo {
  background: var(--cds-color-palette-blueberry-200);
  color: var(--cds-color-palette-blueberry-700);
}

.lightSuccess {
  background: var(--cds-color-palette-kale-200);
  color: var(--cds-color-palette-kale-700);
}

.lightWarning {
  background: var(--cds-color-palette-pineapple-200);
  color: var(--cds-color-palette-pineapple-700);
}

.lightError {
  background: var(--cds-color-palette-peach-200);
  color: var(--cds-color-palette-peach-700);
}

.lightHighlight {
  background: var(--cds-color-palette-violet-200);
  color: var(--cds-color-palette-violet-700);
}

/* Badge elements */

.icon {
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
}