.root {
	font-family: $typography-font-family-productive-body;
	font-weight: 400;
	display: inline-flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: $radius-soft;
	box-sizing: border-box;
	text-decoration: none;
	width: fit-content;
	border-width: 1px;
	border-style: solid;
}

/* Sizes */

$sizes: (
	'small': ('font-size': $typography-font-size-fixed-productive-x-small,
		'line-height': 16px,
		'padding': 0 $spacing-02,
		'flex-gap': $spacing-02,
	),
	'default': ('font-size': $typography-font-size-fixed-productive-small,
		'line-height': 20px,
		'padding': 0 $spacing-02,
		'flex-gap': $spacing-02,
	),
	'large': ('font-size': $typography-font-size-fixed-productive-base,
		'line-height': 24px,
		'padding': 0 $spacing-02,
		'flex-gap': $spacing-03,
	)
);

@each $size,
$font-size,
$line-height,
$padding,
$flex-gap in $sizes {
	.size--#{$size} {
		font-size: map-get($sizes, $size, 'font-size');
		line-height: map-get($sizes, $size, 'line-height');
		padding: map-get($sizes, $size, 'padding');
		gap: map-get($sizes, $size, 'flex-gap');
	}
}

/* Types */

$types: ('neutral', 'informational', 'warning', 'critical', 'positive');
$styles: ('fill', 'inverse', 'outline');

$type-props: (
	'neutral': (
		'light': $color-palette-neutral-200,
		'dark': $color-palette-neutral-800,
	),
	'positive': (
		'light': $color-palette-kale-200,
		'dark': $color-palette-kale-800,
	),
	'informational': (
		'light': $color-palette-blueberry-200,
		'dark': $color-palette-blueberry-800,
	),
	'warning': (
		'light': $color-palette-pineapple-200,
		'dark': $color-palette-pineapple-800,
	),
	'critical': (
		'light': $color-palette-pomegranate-200,
		'dark': $color-palette-pomegranate-800,
	)
);

@each $type in $types {
	@each $style in $styles {
		$dark: map-get($type-props, $type, 'dark');
		$light: map-get($type-props, $type, 'light');
		.type--#{$type}--#{$style} {
			@if $style == 'fill' {
				background: $light;
				color: $dark;
				border-color: $light;
			} @else if $style == 'inverse' {
				background: $dark;
				color: $light;
				border-color: $dark;
			} @else if $style == 'outline' {
				background: transparent;
				color: $dark;
				border-color: $dark;
			}
		}
	}
}
