.root {
	position: sticky;
	top: var(--cds-scale-2x-large);
	right: 0;
	/* max-height: calc(100vh - var(--cds-scale-4x-large)); */
	max-height: fit-content;
	overflow-y: auto;
	padding: var(--cds-scale-large);
	background: var(--cds-color-surface-primary);
	border-radius: var(--cds-radii-medium);
	border: 1px solid var(--cds-color-border-primary);
	display: flex;
	flex-direction: column;
	gap: var(--cds-scale-large);
	/* width: max-content; */
	z-index: 10;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.item {
	margin-bottom: var(--cds-scale-small);
	width: 100%;
}

.item:last-child {
	margin-bottom: 0;
}

.link {
	display: block;
	text-decoration: none;
	transition: color 0.2s ease;
	width: 100%;
}

.link:hover span {
	color: var(--cds-color-foreground-interactive-hover);
}

.active .link {
	color: var(--cds-color-foreground-interactive-default);
	text-decoration: underline;
}

/* Indentation for different heading levels */
.level-3 {
	padding-left: var(--cds-scale-base);
}

.level-4 {
	padding-left: var(--cds-scale-large);
}

/* Mobile styles */
@media (max-width: 768px) {
	.root {
		position: relative;
		top: 0;
		max-height: none;
		margin-bottom: var(--cds-scale-2x-large);
		width: 100%;
	}
}
