@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.root {
	border-width: 1px;
	border-style: solid;
}

.border-color--primary {
	border-color: $cds-color-border-primary;
}

.border-color--faint {
	border-color: $cds-color-border-faint;
}

.border-color--none {
	border-color: none;
}
