@use 'node_modules/cadence-tokens/dist/web/tokens.scss' as *;

.root {
	display: flex;
	flex-direction: column;
}

.border-color--primary {
	outline-color: $cds-color-border-primary;
	outline-width: 1px;
	outline-style: solid;
}

.border-color--faint {
	outline-color: $cds-color-border-faint;
	outline-width: 1px;
	outline-style: solid;
}

.border-color--none {
	outline-color: none;
}
