@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.root {
	outline-width: 1px;
	outline-style: solid;
}

.border-color--primary {
	outline-color: $cds-color-border-primary;
}

.border-color--faint {
	outline-color: $cds-color-border-faint;
}

.border-color--none {
	outline-color: none;
}
