.root {
	color: $color-border-default;
	border: none;
}

$widths: (
	'small': 40px,
	'medium': 80px,
	'large': 160px,
	'full-width': 100%,
);

$thicknesses: (
	'small': 1px,
	'large': 4px,
);

@each $width, $width-value in $widths {
	@each $thickness, $thickness-value in $thicknesses {
		.width--#{$width}_thickness--#{$thickness} {
			width: $width-value;
			height: $thickness-value;
		}
	}
}

$colors: (
	'primary': $color-palette-blackberry-700,
	'secondary': $color-palette-blackberry-300,
	'high-contrast': $color-palette-neutral-100,
	'brand': $color-palette-passion-fruit-600,
	'interactive': $color-palette-blueberry-600,
);

@each $color, $token in $colors {
	.color--#{$color} {
		background: $token;
	}
}
