.table-cell {
	padding: var(--cds-scale-base);
	font-family: var(--cds-typography-font-family-productive-body);
	font-size: var(--cds-typography-font-size-fixed-productive-base);
	line-height: var(--cds-typography-line-height-productive-body);
	color: var(--cds-color-foreground-primary);
}

.table-cell--alignment-start {
	text-align: left;
}

.table-cell--alignment-center {
	text-align: center;
}

.table-cell--alignment-end {
	text-align: right;
}
