@use '../../styles/variables.scss' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: $spacing-04;
	padding: $spacing-08 0;
}

$alignments: (
	'left': flex-start,
	'center': center,
	'right': flex-end,
);

@each $alignment, $value in $alignments {
	.alignment--#{$alignment} {
		align-items: $value;
	}
}
