/* Checkbox styles */
.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--cds-color-surface-primary);
  border: 1px solid var(--cds-color-border-primary);
  border-radius: var(--cds-radii-hard);
  cursor: pointer;
  transition: background-color 100ms ease, border-color 100ms ease, box-shadow 100ms ease;
  flex-shrink: 0;
}

.root:hover:not([data-disabled]) {
  border-color: var(--cds-color-border-interactive-hover);
  background-color: var(--cds-color-palette-blackberry-100);
}

.root:focus-visible {
  outline: 2px solid var(--cds-color-border-focus);
  outline-offset: 2px;
}

.root[data-state='checked'] {
  background-color: var(--cds-color-foreground-interactive-default);
  border-color: var(--cds-color-foreground-interactive-default);
}

.root[data-state='indeterminate'] {
  background-color: var(--cds-color-foreground-interactive-default);
  border-color: var(--cds-color-foreground-interactive-default);
}

.root[data-state='checked']:hover:not([data-disabled]) {
  background-color: var(--cds-color-foreground-interactive-hover);
  border-color: var(--cds-color-foreground-interactive-hover);
}

.root[data-state='indeterminate']:hover:not([data-disabled]) {
  background-color: var(--cds-color-foreground-interactive-hover);
  border-color: var(--cds-color-foreground-interactive-hover);
}

.root[data-disabled] {
  cursor: not-allowed;
  border-color: var(--cds-color-palette-blackberry-200);
  background-color: var(--cds-color-palette-blackberry-100);
}

.root[data-state='checked'][data-disabled] {
  background-color: var(--cds-color-palette-blueberry-300);
  border-color: var(--cds-color-palette-blueberry-400);
}

.root[data-state='indeterminate'][data-disabled] {
  background-color: var(--cds-color-palette-blueberry-300);
  border-color: var(--cds-color-palette-blueberry-400);
}

.is-invalid {
  border-color: var(--cds-color-border-critical);
}

.is-invalid:focus-visible {
  outline-color: var(--cds-color-border-critical);
}

/* Checkbox Indicator styles */
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  position: relative;
  color: var(--cds-color-foreground-high-contrast);
}