.root {
	display: flex;
	flex-direction: column;
	padding-left: $spacing-06;
	margin-left: $spacing-06;
	margin-bottom: $spacing-06;

	li {
		padding-left: $spacing-03;
	}
}

$contexts: ('productive', 'expressive');

$context-props: (
	'productive': (
		'font-family': $typography-font-family-productive-body,
		'font-size': $typography-font-size-fixed-productive-base,
		'spacing': $spacing-04,
	),
	'expressive': (
		'font-family': $typography-font-family-expressive-body,
		'font-size': $typography-font-size-fixed-expressive-base,
		'spacing': $spacing-04,
	),
);

@each $context in $contexts {
	.context--#{$context} {
		font-family: map-get($context-props, $context, 'font-family');
		font-size: map-get($context-props, $context, 'font-size');
		gap: map-get($context-props, $context, 'spacing');
	}
}
