.form--layout_helper--horizontal-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cds-scale-base);
  width: 100%;
}

.form--layout_helper--horizontal-wrapper > *:not(button) {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .form--layout_helper--horizontal-wrapper {
    flex-direction: column;
  }

  .form--layout_helper--horizontal-wrapper > *,
  .form--layout_helper--horizontal-wrapper > button {
    width: 100%;
  }
}