.content {
	padding: $cds-scale-base;
	background: $cds-color-surface-high-contrast;
	color: $cds-color-foreground-high-contrast;
	font-size: $cds-typography-font-size-fixed-productive-base;
	font-family: $cds-typography-font-family-productive-body;
	border-radius: $cds-radii-medium;
	max-width: 300px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	box-shadow: $cds-elevation-box-shadow-base;
}

.content[data-state='delayed-open'][data-side='top'] {
	animation-name: slideDownAndFade;
}
.content[data-state='delayed-open'][data-side='right'] {
	animation-name: slideLeftAndFade;
}
.content[data-state='delayed-open'][data-side='bottom'] {
	animation-name: slideUpAndFade;
}
.content[data-state='delayed-open'][data-side='left'] {
	animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
