.root {
  display: flex;
}

.root > *:nth-child(1) {
  z-index: 10;
}

.root > *:nth-child(2) {
  z-index: 9;
}

.root > *:nth-child(3) {
  z-index: 8;
}

.root > *:nth-child(4) {
  z-index: 7;
}

.root > *:nth-child(5) {
  z-index: 6;
}

/* Direction */
.direction--horizontal {
  flex-direction: row;
}

.direction--vertical {
  flex-direction: column;
}

/* Spacing */
.direction--horizontal.spacing--small > *:not(:last-child) {
  margin-right: 0.5rem;
}

.direction--horizontal.spacing--large > *:not(:last-child) {
  margin-right: 1rem;
}

.direction--horizontal.spacing--overlap-small > *:not(:last-child) {
  margin-right: -0.5rem;
}

.direction--horizontal.spacing--overlap-large > *:not(:last-child) {
  margin-right: -1rem;
}
