.unsubscribe--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75dvh;
}

.unsubscribe--wrapper-inner {
  width: 600px;
  background: $cds-color-surface-primary;
  border: 1px solid $cds-color-border-primary;
  border-radius: $cds-radii-soft;
  padding: $cds-scale-base;

  @media (min-width: 768px) {
    padding: $cds-scale-2x-large;
  }
}

