.root {
  font-family: var(--cds-typography-font-family-productive-body);
  font-size: var(--cds-typography-font-size-fixed-productive-base);
  border-radius: var(--cds-radii-medium);
  border: 1px solid var(--cds-color-border-primary);
  padding: var(--cds-scale-small);
}

.root:focus {
  outline: var(--cds-focus-ring-width) solid var(--cds-focus-ring-color-standard);
  outline-offset: var(--cds-focus-ring-offset);
}

.root[disabled] {
  cursor: not-allowed;
}

.isInvalid {
  border: 2px solid var(--cds-color-border-critical);
}

.isInvalid:focus {
  outline: var(--cds-focus-ring-width) solid var(--cds-focus-ring-color-critical);
  outline-offset: var(--cds-focus-ring-offset);
}