.update-password--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--cds-scale-x-large);
  gap: var(--cds-scale-x-large);
}

.update-password--wrapper-inner {
  display: flex;
  flex-direction: column;
  gap: var(--cds-scale-large);
  width: 100%;
  max-width: 400px;
  padding: var(--cds-scale-x-large);
  background-color: var(--cds-color-surface-primary);
  border: 1px solid var(--cds-color-border-faint);
  border-radius: var(--cds-radii-medium);
}
