.cds-divider {
  color: var(--color-border-default);
  border: none;
  height: 1px;
  margin: 0;
}

/* Width */

.width--small {
  width: 40px;
}

.width--medium {
  width: 80px;
}

.width--large {
  width: 160px;
}

.width--full-width {
  width: 100%;
}

/* Color */

.color--primary {
  background: var(--color-palette-blackberry-700);
}

.color--secondary {
  background: var(--color-palette-blackberry-300);
}

.color--high-contrast {
  background: var(--color-palette-neutral-100);
}

.color--brand {
  background: var(--color-palette-passion-fruit-600);
}

.color--interactive {
  background: var(--color-palette-blueberry-600);
}

/* Spacing */

.spacing--none {
  margin: 0;
}

.spacing--small {
  margin: var(--spacing-03) 0;
}

.spacing--medium {
  margin: var(--spacing-05) 0;
}

.spacing--large {
  margin: var(--spacing-06) 0;
}
