.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 42px;
  height: 24px;
  background-color: var(--cds-color-palette-blackberry-100);
  border-radius: var(--cds-radii-x-soft);
  border: 1px solid var(--cds-color-border-primary);
  cursor: pointer;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.root:hover:not([data-disabled]) {
  background-color: var(--cds-color-palette-blackberry-200);
}

.root:focus-visible {
  outline: var(--cds-focus-ring-width) solid var(--cds-focus-ring-color-standard);
  outline-offset: var(--cds-focus-ring-offset);
}

.root[data-state='checked'] {
  background-color: var(--cds-color-foreground-interactive-default);
  border-color: var(--cds-color-palette-blueberry-700);
}

.root[data-state='checked']:hover:not([data-disabled]) {
  background-color: var(--cds-color-foreground-interactive-hover);
  border-color: var(--cds-color-background-brand-hover);
}

.root[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.isInvalid {
  border-color: var(--cds-color-border-critical);
}

.isInvalid:focus-visible {
  outline-color: var(--cds-focus-ring-color-critical);
}

.thumb {
  position: absolute;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: var(--cds-color-foreground-high-contrast);
  border: 1px solid var(--cds-color-border-primary);
  border-radius: 18px;
  transition: transform 100ms ease;
  will-change: transform;
}

.thumb:hover {
  background-color: var(--cds-color-palette-blackberry-100);
}

.thumbChecked {
  background-color: var(--cds-color-foreground-high-contrast);
  transform: translateX(17px);
}

.checkIcon {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.checkIconVisible {
  display: flex;
}