@font-face {
	font-family: 'Favorit Std';
	font-style: normal;
	font-display: swap;
	font-weight: normal;
	src: url('/fonts/favorit/std/FavoritStd-Regular.woff') format('woff'),
		url('/fonts/favorit/std/FavoritStd-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: italic;
	font-display: swap;
	font-weight: normal;
	src: url('/fonts/favorit/std/FavoritStd-Italic.woff') format('woff'),
		url('/fonts/favorit/std/FavoritStd-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: url('/fonts/favorit/std/FavoritStd-Bold.woff') format('woff'),
		url('/fonts/favorit/std/FavoritStd-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: italic;
	font-display: swap;
	font-weight: bold;
	src: url('/fonts/favorit/std/FavoritStd-BoldItalic.woff') format('woff'),
		url('/fonts/favorit/std/FavoritStd-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: normal;
	src: url('/fonts/favorit/expanded/FavoritStd-Expanded.woff') format('woff'),
		url('/fonts/favorit/expanded/FavoritStd-Expanded.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: url('/fonts/favorit/expanded/FavoritStd-BoldExpanded.woff')
			format('woff'),
		url('/fonts/favorit/expanded/FavoritStd-BoldExpanded.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: semibold;
	src: url('/fonts/favorit/expanded/FavoritStd-BoldSemiExpanded.woff')
			format('woff'),
		url('/fonts/favorit/expanded/FavoritStd-BoldSemiExpanded.woff2')
			format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('/fonts/tiempos-text/TiemposText-Regular.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: url('/fonts/tiempos-text/TiemposText-RegularItalic.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-RegularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url('/fonts/tiempos-text/TiemposText-Medium.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src: url('/fonts/tiempos-text/TiemposText-MediumItalic.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url('/fonts/tiempos-text/TiemposText-Semibold.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src: url('/fonts/tiempos-text/TiemposText-SemiboldItalic.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-SemiboldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('/fonts/tiempos-text/TiemposText-Bold.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiempos Text';
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: url('/fonts/tiempos-text/TiemposText-BoldItalic.woff') format('woff'),
		url('/fonts/tiempos-text/TiemposText-BoldItalic.woff2') format('woff2');
}
