.root {
	display: flex;
}

/* Direction */

.direction--row {
	flex-direction: row;
}
.direction--column {
	flex-direction: column;
}

/* Gap */

.gap--x-small {
	gap: var(--spacing-02);
}

.gap--small {
	gap: var(--spacing-03);
}

.gap--medium {
	gap: var(--spacing-05);
}

.gap--large {
	gap: var(--spacing-06);
}

.gap--x-large {
	gap: var(--spacing-08);
}

/* Background */

.background--primary {
	background: var(--color-surface-primary);
}

.background--secondary {
	background: var(--color-surface-secondary);
}

.background--brand {
	background: var(--color-surface-brand);
}

.background--interactive {
	background: var(--color-surface-interactive);
}

.background--positive {
	background: var(--color-surface-positive);
}

.background--info {
	background: var(--color-surface-info);
}

.background--caution {
	background: var(--color-surface-caution);
}

.background--critical {
	background: var(--color-surface-critical);
}

/* Border radius */

.border-radius--default {
	border-radius: var(--radius-default);
}

.border-radius--soft {
	border-radius: var(--radius-soft);
}

.border-radius--medium {
	border-radius: var(--radius-medium);
}

.border-radius--hard {
	border-radius: var(--radius-hard);
}

.border-radius--rounded {
	border-radius: var(--radius-rounded);
}

/* Border color */

.border-radius--default {
	border-color: var(--color-border-default);
	border-style: solid;
	border-width: 1px;
}
.border-radius--caution {
	border-color: var(--color-border-caution);
	border-style: solid;
	border-width: 1px;
}
.border-radius--critical {
	border-color: var(--color-border-critical);
	border-style: solid;
	border-width: 1px;
}
.border-radius--positive {
	border-color: var(--color-border-positive);
	border-style: solid;
	border-width: 1px;
}
.border-radius--info {
	border-color: var(--color-border-info);
	border-style: solid;
	border-width: 1px;
}
.border-radius--interactive {
	border-color: var(--color-border-interactive);
	border-style: solid;
	border-width: 1px;
}

/* Justification */

.justify--start {
	justify-content: flex-start;
}

.justify--end {
	justify-content: flex-end;
}

.justify--center {
	justify-content: center;
}

.justify--space-between {
	justify-content: space-between;
}

.justify--space-around {
	justify-content: space-around;
}

.justify--space-evenly {
	justify-content: space-evenly;
}

/* Alignment */

.align--start {
	align-items: flex-start;
}

.align--end {
	align-items: flex-end;
}

.align--center {
	align-items: center;
}

.align--stretch {
	align-items: stretch;
}

.align--baseline {
	align-items: baseline;
}

.text-align--left {
	text-align: left;
}

.text-align--center {
	text-align: center;
}

.text-align--right {
	text-align: right;
}

.wrap--nowrap {
	flex-wrap: no-wrap;
}

.wrap--wrap {
	flex-wrap: wrap;
}

.wrap--wrap-reverse {
	flex-wrap: wrap-reverse;
}

/* Padding */

.padding--x-small {
	padding: var(--spacing-02);
}

.padding--small {
	padding: var(--spacing-03);
}

.padding--medium {
	padding: var(--spacing-05);
}

.padding--large {
	padding: var(--spacing-06);
}

.padding--x-large {
	padding: var(--spacing-08);
}
