.root {
	display: flex;
}

/* Direction */

.directionRow {
	flex-direction: row;
}
.directionColumn {
	flex-direction: column;
}

/* Gap */

.gapNone {
	gap: 0;
}
.gap2xSmall {
	gap: var(--cds-scale-2x-small);
}
.gapXSmall {
	gap: var(--cds-scale-x-small);
}
.gapSmall {
	gap: var(--cds-scale-small);
}
.gapMedium {
	gap: var(--cds-scale-base);
}
.gapLarge {
	gap: var(--cds-scale-large);
}
.gapXLarge {
	gap: var(--cds-scale-x-large);
}
.gap2xLarge {
	gap: var(--cds-scale-2x-large);
}
.gap3xLarge {
	gap: var(--cds-scale-3x-large);
}

/* Padding */

.paddingNone {
	padding: 0;
}
.padding2xSmall {
	padding: var(--cds-scale-2x-small);
}
.paddingXSmall {
	padding: var(--cds-scale-x-small);
}
.paddingSmall {
	padding: var(--cds-scale-small);
}
.paddingMedium {
	padding: var(--cds-scale-base);
}
.paddingLarge {
	padding: var(--cds-scale-large);
}
.paddingXLarge {
	padding: var(--cds-scale-x-large);
}
.padding2xLarge {
	padding: var(--cds-scale-2x-large);
}
.padding3xLarge {
	padding: var(--cds-scale-3x-large);
}

/* Align items */

.alignItemsStretch {
	align-items: stretch;
}
.alignItemsStart {
	align-items: start;
}
.alignItemsCenter {
	align-items: center;
}
.alignItemsEnd {
	align-items: end;
}

/* Align content */

.alignContentStretch {
	align-content: stretch;
}
.alignContentStart {
	align-content: start;
}
.alignContentCenter {
	align-content: center;
}
.alignContentEnd {
	align-content: end;
}

/* Justify content */

.justifyStart {
	justify-content: start;
}
.justifyCenter {
	justify-content: center;
}
.justifyEnd {
	justify-content: end;
}
.justifySpaceBetween {
	justify-content: space-between;
}
.justifySpaceAround {
	justify-content: space-around;
}
.justifySpaceEvenly {
	justify-content: space-evenly;
}

/* Background */

.backgroundPrimary {
	background: var(--cds-color-surface-primary);
}
.backgroundFaint {
	background: var(--cds-color-surface-faint);
}
.backgroundHighContrast {
	background: var(--cds-color-surface-high-contrast);
}
.backgroundBrand {
	background: var(--cds-color-surface-brand);
}
.backgroundInteractive {
	background: var(--cds-color-surface-interactive);
}
.backgroundSuccess {
	background: var(--cds-color-surface-success);
}
.backgroundWarning {
	background: var(--cds-color-surface-warning);
}
.backgroundCritical {
	background: var(--cds-color-surface-critical);
}

.wrap {
	flex-wrap: wrap;
}
