.forgot-password--wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: $cds-scale-x-large;
	gap: $cds-scale-x-large;
}

.forgot-password--wrapper-inner {
	display: flex;
	flex-direction: column;
	gap: $cds-scale-large;
	width: 100%;
	max-width: 400px;
	padding: $cds-scale-x-large;
	background-color: $cds-color-surface-primary;
	border: 1px solid $cds-color-border-faint;
	border-radius: $cds-radii-medium;
}
