@use '@downbeat-academy/cadence-tokens/dist/web/tokens.scss' as *;

$button-variants: (
    'primary',
    'secondary',
    'tertiary',
    'ghost',
    'destructive',
);

$button-variant-props: (
    'primary': (
        'color-rest': $color-foreground-high-contrast,
        'color-hover': $color-foreground-high-contrast,
        'color-active': $color-foreground-high-contrast,
        'background-rest': $color-palette-passion-fruit-600,
        'background-hover': $color-palette-passion-fruit-700,
        'background-active': $color-palette-passion-fruit-800,
        'border-rest': $color-palette-passion-fruit-700,
        'border-hover': $color-palette-passion-fruit-800,
        'border-active': $color-palette-passion-fruit-900,
    ),
    'secondary': (),
    'tertiary': (),
    'ghost': (),
    'destructive': (),
);

$button-sizes: (
    'large',
    'default',
    'small',
    'x-small',
);

$button-size-props: (
    'large': (
        'font-size': $typography-font-size-productive-large-fixed,
        'max-height': 3rem,
        'padding': 8px 1.5rem,
    ),
    'default': (
        'font-size': $typography-font-size-productive-base-fixed,
        'max-height': 2.5rem,
        'padding': 7px 1.25rem,
    ),
    'small': (
        'font-size': $typography-font-size-productive-small-fixed,
        'max-height': 2.0rem,
        'padding': 5px 1rem,
    ),
    'extra-small': (
        'font-size': $typography-font-size-productive-x-small-fixed,
        'max-height': 1.5rem,
        'padding': 3px 0.625rem,
    ),
);

@mixin button-base {
    border: 1px solid;
    border-radius: $radius-default;
    font-family: $typography-font-family-productive-body;
    font-weight: 500;
    line-height: $typography-line-height-productive-body;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0;
    gap: $spacing-03;
    align-self: flex-start;
    transition: $transition-02;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

@each $variant in $button-variants {
    .#{$variant} {
        @include button-base;
        color: map-get($button-variant-props, $variant, 'color-rest');
        background: map-get($button-variant-props, $variant, 'background-rest');
        border-color: map-get($button-variant-props, $variant, 'border-rest');

        &:hover {
            color: map-get($button-variant-props, $variant, 'color-hover');
            background: map-get($button-variant-props, $variant, 'background-hover');
            border-color: map-get($button-variant-props, $variant, 'border-hover');
        }

        &:active {
            color: map-get($button-variant-props, $variant, 'color-active');
            background: map-get($button-variant-props, $variant, 'background-active');
            border-color: map-get($button-variant-props, $variant, 'border-active');
        }
    }
}

@each $size in $button-sizes {
    .#{$size} {
        font-size: map-get($button-size-props, $size, 'font-size');
        // max-height: map-get($button-size-props, $size, 'max-height');
        padding: map-get($button-size-props, $size, 'padding');
    }
}