.cds-button-wrapper--root {
  display: flex;
}

/* Direction */
.cds-button-wrapper--direction-horizontal {
  flex-direction: row;
}

.cds-button-wrapper--direction-vertical {
  flex-direction: column;
}

/* Gap */
.cds-button-wrapper--gap-none {
  gap: 0;
}

.cds-button-wrapper--gap-small {
  gap: var(--cds-scale-small);
}

.cds-button-wrapper--gap-medium {
  gap: var(--cds-scale-base);
}

.cds-button-wrapper--gap-large {
  gap: var(--cds-scale-large);
}

.cds-button-wrapper--wrap {
  flex-wrap: wrap;
}