.root {
  align-items: center;
  border-radius: var(--cds-radii-medium);
  display: inline-flex;
  flex-direction: row;
  font-family: var(--cds-typography-font-family-productive-body);
  transition: var(--cds-transition-02);
  justify-content: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.root:hover {
  cursor: pointer;
}

.root:disabled {
  cursor: not-allowed;
}

/* Size */
.size-x-small {
  padding: 4px 10px;
  font-size: var(--cds-typography-font-size-fixed-productive-x-small);
}

.size-small {
  padding: 6px 16px;
  font-size: var(--cds-typography-font-size-fixed-productive-small);
}

.size-medium {
  padding: 8px 20px;
  font-size: var(--cds-typography-font-size-fixed-productive-base);
}

.size-large {
  padding: 9px 24px;
  font-size: var(--cds-typography-font-size-fixed-productive-large);
}

/* Variant */
.variant-primary {
  border: none;
  background: var(--cds-color-palette-blueberry-600);
  color: var(--cds-color-foreground-high-contrast);
}

.variant-primary:hover {
  background: var(--cds-color-palette-blueberry-700);
}

.variant-primary:active {
  background: var(--cds-color-palette-blueberry-700);
}

.variant-secondary {
  background: transparent;
  border-width: 1px;
  border-color: var(--cds-color-border-primary);
  border-style: solid;
  color: var(--cds-color-foreground-primary);
}

.variant-secondary:hover {
  background: var(--cds-color-palette-blackberry-100);
}

.variant-secondary:active {
  background: var(--cds-color-palette-blackberry-200);
}

.variant-ghost {
  border: none;
  background: transparent;
  color: var(--cds-color-palette-blueberry-500);
}

.variant-ghost:hover {
  background: var(--cds-color-palette-blueberry-200);
  color: var(--cds-color-palette-blueberry-600);
}

.variant-ghost:active {
  background: var(--cds-color-palette-blueberry-300);
  color: var(--cds-color-palette-blueberry-700);
}

.variant-destructive {
  border: none;
  background: var(--cds-color-palette-peach-600);
  color: var(--cds-color-foreground-high-contrast);
}

.variant-destructive:hover {
  background: var(--cds-color-palette-peach-700);
}

.variant-destructive:active {
  background: var(--cds-color-palette-peach-700);
}

/* Full width */
.full-width {
  width: 100%;
}

/* Disabled */
.disabled {
  color: var(--cds-color-palette-blackberry-400);
  background: var(--cds-color-palette-blackberry-200);
}

.disabled:hover {
  color: var(--cds-color-palette-blackberry-400);
  background: var(--cds-color-palette-blackberry-200);
}

.disabled:active {
  color: var(--cds-color-palette-blackberry-400);
  background: var(--cds-color-palette-blackberry-200);
}