.root {
  display: flex;
}

/* Direction */
.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

/* Gap */
.gapNone {
  gap: 0;
}

.gapSmall {
  gap: var(--cds-scale-small);
}

.gapMedium {
  gap: var(--cds-scale-base);
}

.gapLarge {
  gap: var(--cds-scale-large);
}

.wrap {
  flex-wrap: wrap;
}