.root {
  display: flex;
}

/* Direction */
.direction-horizontal {
  flex-direction: row;
}

.direction-vertical {
  flex-direction: column;
}

/* Gap */
.gap-none {
  gap: 0;
}

.gap-small {
  gap: var(--cds-scale-small);
}

.gap-medium {
  gap: var(--cds-scale-base);
}

.gap-large {
  gap: var(--cds-scale-large);
}

.wrap {
  flex-wrap: wrap;
}