.app-frame--root {
	display: grid;
	grid-template-rows:
		min-content minmax(calc(100vh - 115px), min-content)
		min-content;
	grid-template-areas: 'header' 'content' 'footer';
	max-width: 100vw;
	min-height: 100dvh;
	background: var(--cds-color-page-primary);
	gap: var(--cds-scale-3x-large);
}
