@font-face {
	font-family: 'Favorit Std';
	font-style: normal;
	font-display: swap;
	font-weight: normal;
	src: url('./files/std/FavoritStd-Regular.woff') format('woff'),
		url('./files/std/FavoritStd-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: italic;
	font-display: swap;
	font-weight: normal;
	src: url('./files/std/FavoritStd-Italic.woff') format('woff'),
		url('./files/std/FavoritStd-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: url('./files/std/FavoritStd-Bold.woff') format('woff'),
		url('./files/std/FavoritStd-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Std';
	font-style: italic;
	font-display: swap;
	font-weight: bold;
	src: url('./files/std/FavoritStd-BoldItalic.woff') format('woff'),
		url('./files/std/FavoritStd-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: normal;
	src: url('./files/expanded/FavoritStd-Expanded.woff') format('woff'),
		url('./files/std/FavoritStd-Expanded.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: url('./files/expanded/FavoritStd-BoldExpanded.woff') format('woff'),
		url('./files/std/FavoritStd-BoldExpanded.woff2') format('woff2');
}

@font-face {
	font-family: 'Favorit Expanded';
	font-style: normal;
	font-display: swap;
	font-weight: semibold;
	src: url('./files/expanded/FavoritStd-BoldSemiExpanded.woff') format('woff'),
		url('./files/std/FavoritStd-BoldSemiExpanded.woff2') format('woff2');
}
