.cds-validation-message--root {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: $cds-scale-2x-small;
	font-size: $cds-typography-font-size-fixed-productive-small;
	font-family: $cds-typography-font-family-productive-body;
	font-weight: 600;
}

.cds-validation-message--type-success {
	color: $cds-color-foreground-success-default;
}

.cds-validation-message--type-warning {
	color: $cds-color-foreground-warning-default;
}

.cds-validation-message--type-error {
	color: $cds-color-foreground-critical-default;
}

// Icon wrapper

.cds-validation-message--icon {
	padding: 2px;
}