.value {
	font-family: var(--cds-typography-font-family-productive-headline);
	font-size: var(--cds-typography-font-size-fixed-productive-4x-large);
	line-height: 1.1;
	color: var(--cds-color-foreground-strong);
}

.placeholder {
	color: var(--cds-color-foreground-disabled);
}
