.link {
	display: block;
	padding: var(--cds-scale-x-small) var(--cds-scale-small);
	border-radius: var(--cds-radii-hard);
	color: var(--cds-color-foreground-primary);
	text-decoration: none;
	font-family: var(--cds-typography-font-family-productive-body);
	font-size: var(--cds-typography-font-size-fluid-expressive-small);
	transition: var(--cds-transition-03);
}

.link:hover {
	background: var(--cds-color-page-faint);
}

.active {
	background: var(--cds-color-palette-violet-50);
	color: var(--cds-color-foreground-brand-default);
	font-weight: 600;
}

.active:hover {
	background: var(--cds-color-palette-violet-100);
}
