.root {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Type */

.productiveBody {
	font-family: var(--cds-typography-font-family-productive-body);
	line-height: var(--cds-typography-line-height-productive-body);
}

.productiveHeadline {
	font-family: var(--cds-typography-font-family-productive-headline);
	line-height: var(--cds-typography-line-height-productive-headline);
}

.expressiveBody {
	font-family: var(--cds-typography-font-family-expressive-body);
	line-height: var(--cds-typography-line-height-expressive-body);
}

.expressiveHeadline {
	font-family: var(--cds-typography-font-family-expressive-headline);
	line-height: var(--cds-typography-line-height-expressive-headline);
}

/* Size + type */

/* -- Productive Headline */

.productiveHeadlineH1 {
	font-size: var(--cds-typography-font-size-fixed-productive-4x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-4x-large);
}

.productiveHeadlineH2 {
	font-size: var(--cds-typography-font-size-fixed-productive-3x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-3x-large);
}

.productiveHeadlineH3 {
	font-size: var(--cds-typography-font-size-fixed-productive-2x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-2x-large);
}

.productiveHeadlineH4 {
	font-size: var(--cds-typography-font-size-fixed-productive-x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-x-large);
}

.productiveHeadlineH5 {
	font-size: var(--cds-typography-font-size-fixed-productive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-large);
}

.productiveHeadlineH6 {
	font-size: var(--cds-typography-font-size-fixed-productive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-base);
}

/* -- Productive Body */

.productiveBodyBodyLarge {
	font-size: var(--cds-typography-font-size-fixed-productive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-large);
}

.productiveBodyBodyBase {
	font-size: var(--cds-typography-font-size-fixed-productive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-base);
}

.productiveBodyBodySmall {
	font-size: var(--cds-typography-font-size-fixed-productive-small);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-small);
}

.productiveBodyBodyXSmall {
	font-size: var(--cds-typography-font-size-fixed-productive-x-small);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-x-small);
}

/* -- Expressive Headline */

.expressiveHeadlineMega {
	font-size: var(--cds-typography-font-size-fixed-expressive-6x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-6x-large);
}

.expressiveHeadlineH1 {
	font-size: var(--cds-typography-font-size-fixed-expressive-5x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-5x-large);
}

.expressiveHeadlineH2 {
	font-size: var(--cds-typography-font-size-fixed-expressive-4x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-4x-large);
}

.expressiveHeadlineH3 {
	font-size: var(--cds-typography-font-size-fixed-expressive-3x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-3x-large);
}

.expressiveHeadlineH4 {
	font-size: var(--cds-typography-font-size-fixed-expressive-2x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-2x-large);
}

.expressiveHeadlineH5 {
	font-size: var(--cds-typography-font-size-fixed-expressive-x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-x-large);
}

.expressiveHeadlineH6 {
	font-size: var(--cds-typography-font-size-fixed-expressive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-large);
}

/* -- Expressive body */

.expressiveBodyBodyLarge {
	font-size: var(--cds-typography-font-size-fixed-expressive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-large);
}

.expressiveBodyBodyBase {
	font-size: var(--cds-typography-font-size-fixed-expressive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-base);
}

.expressiveBodyBodySmall {
	font-size: var(--cds-typography-font-size-fixed-expressive-small);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-small);
}

.expressiveBodyBodyXSmall {
	font-size: var(--cds-typography-font-size-fixed-expressive-x-small);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-x-small);
}

/* Color */

.colorPrimary {
	color: var(--cds-color-foreground-primary);
}

.colorStrong {
	color: var(--cds-color-foreground-strong);
}

.colorFaint {
	color: var(--cds-color-foreground-faint);
}

.colorDisabled {
	color: var(--cds-color-foreground-disabled);
}

.colorHighContrast {
	color: var(--cds-color-foreground-high-contrast);
}

.colorWarning {
	color: var(--cds-color-foreground-warning-default);
}

.colorCritical {
	color: var(--cds-color-foreground-critical-default);
}

.colorInteractive {
	color: var(--cds-color-foreground-interactive-default);
}

.colorBrand {
	color: var(--cds-color-foreground-brand-default);
}

.colorSuccess {
	color: var(--cds-color-foreground-success-default);
}

/* Background */

.backgroundPrimary {
	background: var(--cds-color-surface-primary);
}

.backgroundFaint {
	background: var(--cds-color-surface-faint);
}

.backgroundHighContrast {
	background: var(--cds-color-surface-high-contrast);
}

.backgroundBrand {
	background: var(--cds-color-surface-brand);
}

.backgroundInteractive {
	background: var(--cds-color-surface-interactive);
}

.backgroundSuccess {
	background: var(--cds-color-surface-success);
}

.backgroundWarning {
	background: var(--cds-color-surface-warning);
}

.backgroundCritical {
	background: var(--cds-color-surface-critical);
}

/* Align */

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignJustify {
	text-align: justify;
}

/* Collapse */

.collapse {
	margin-bottom: 0;
	margin-top: 0;
}
