.root {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Type */

.root--productive-body {
	font-family: var(--cds-typography-font-family-productive-body);
	line-height: var(--cds-typography-line-height-productive-body);
}

.root--productive-headline {
	font-family: var(--cds-typography-font-family-productive-headline);
	line-height: var(--cds-typography-line-height-productive-headline);
}

.root--expressive-body {
	font-family: var(--cds-typography-font-family-expressive-body);
	line-height: var(--cds-typography-line-height-expressive-body);
}

.root--expressive-headline {
	font-family: var(--cds-typography-font-family-expressive-headline);
	line-height: var(--cds-typography-line-height-expressive-headline);
}

/* Size + type */

/* -- Productive Headline */

.root--productive-headline--h1 {
	font-size: var(--cds-typography-font-size-fixed-productive-4x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-4x-large);
}

.root--productive-headline--h2 {
	font-size: var(--cds-typography-font-size-fixed-productive-3x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-3x-large);
}

.root--productive-headline--h3 {
	font-size: var(--cds-typography-font-size-fixed-productive-2x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-2x-large);
}

.root--productive-headline--h4 {
	font-size: var(--cds-typography-font-size-fixed-productive-x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-x-large);
}

.root--productive-headline--h5 {
	font-size: var(--cds-typography-font-size-fixed-productive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-large);
}

.root--productive-headline--h6 {
	font-size: var(--cds-typography-font-size-fixed-productive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-base);
}

/* -- Productive Body */

.root--productive-body--body-large {
	font-size: var(--cds-typography-font-size-fixed-productive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-large);
}

.root--productive-body--body-base {
	font-size: var(--cds-typography-font-size-fixed-productive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-base);
}

.root--productive-body--body-small {
	font-size: var(--cds-typography-font-size-fixed-productive-small);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-small);
}

.root--productive-body--body-x-small {
	font-size: var(--cds-typography-font-size-fixed-productive-x-small);
	margin-bottom: var(--cds-typography-font-size-fixed-productive-x-small);
}

/* -- Expressive Headline */

.root--expressive-headline--mega {
	font-size: var(--cds-typography-font-size-fixed-expressive-6x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-6x-large);
}

.root--expressive-headline--h1 {
	font-size: var(--cds-typography-font-size-fixed-expressive-5x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-5x-large);
}

.root--expressive-headline--h2 {
	font-size: var(--cds-typography-font-size-fixed-expressive-4x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-4x-large);
}

.root--expressive-headline--h3 {
	font-size: var(--cds-typography-font-size-fixed-expressive-3x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-3x-large);
}

.root--expressive-headline--h4 {
	font-size: var(--cds-typography-font-size-fixed-expressive-2x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-2x-large);
}

.root--expressive-headline--h5 {
	font-size: var(--cds-typography-font-size-fixed-expressive-x-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-x-large);
}

.root--expressive-headline--h6 {
	font-size: var(--cds-typography-font-size-fixed-expressive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-large);
}

/* -- Expressive body */

.root--expressive-body--body-large {
	font-size: var(--cds-typography-font-size-fixed-expressive-large);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-large);
}

.root--expressive-body--body-base {
	font-size: var(--cds-typography-font-size-fixed-expressive-base);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-base);
}

.root--expressive-body--body-small {
	font-size: var(--cds-typography-font-size-fixed-expressive-small);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-small);
}

.root--expressive-body--body-x-small {
	font-size: var(--cds-typography-font-size-fixed-expressive-x-small);
	margin-bottom: var(--cds-typography-font-size-fixed-expressive-x-small);
}

/* Color */

.root--color-primary {
	color: var(--cds-color-foreground-primary);
}

.root--color-strong {
	color: var(--cds-color-foreground-strong);
}

.root--color-faint {
	color: var(--cds-color-foreground-faint);
}

.root--color-disabled {
	color: var(--cds-color-foreground-disabled);
}

.root--color-high-contrast {
	color: var(--cds-color-foreground-high-contrast);
}

.root--color-warning {
	color: var(--cds-color-foreground-warning-default);
}

.root--color-critical {
	color: var(--cds-color-foreground-critical-default);
}

.root--color-interactive {
	color: var(--cds-color-foreground-interactive-default);
}

.root--color-brand {
	color: var(--cds-color-foreground-brand-default);
}

.root--color-success {
	color: var(--cds-color-foreground-success-default);
}

/* Background */

.root--background-primary {
	background: var(--cds-color-surface-primary);
}

.root--background-faint {
	background: var(--cds-color-surface-faint);
}

.root--background-high-contrast {
	background: var(--cds-color-surface-high-contrast);
}

.root--background-brand {
	background: var(--cds-color-surface-brand);
}

.root--background-interactive {
	background: var(--cds-color-surface-interactive);
}

.root--background-success {
	background: var(--cds-color-surface-success);
}

.root--background-warning {
	background: var(--cds-color-surface-warning);
}

.root--background-critical {
	background: var(--cds-color-surface-critical);
}

/* Align */

.root--align-left {
	text-align: left;
}

.root--align-center {
	text-align: center;
}

.root--align-right {
	text-align: right;
}

.root--align-justify {
	text-align: justify;
}

/* Collapse */

.root--collapse {
	margin-bottom: 0;
}