@use '../../../styles/variables.scss' as *;

$locations: (sidebar-left, content, sidebar-right);

.root {
	padding: 0 $spacing-05;
}

@each $location in $locations {
	.location--#{$location} {
		grid-area: $location;
	}
}
