.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	padding: var(--cds-scale-x-large);
	background: var(--cds-color-surface-faint);
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}

.sectionTitle {
	margin-bottom: var(--cds-scale-medium);
}
