.root {
  display: flex;
}

.orientationHorizontal {
  flex-direction: row;
  align-items: center;
  gap: var(--cds-scale-small);
}

.orientationVertical {
  flex-direction: column;
  gap: var(--cds-scale-2x-small);
}
