.newsletter-signup {
	display: flex;
	flex-direction: column;
	gap: var(--cds-scale-base);
	max-width: var(--cds-content-width-form);
	margin: 0 auto;
	background: var(--cds-color-surface-primary);
	padding: var(--cds-scale-3x-large);
	border-radius: var(--cds-radii-soft);
	border: var(--cds-border-width-thin) solid var(--cds-color-border-primary);
}
