@import '../../../../node_modules/cadence-tokens/dist/web/tokens.scss';

.banner-actions--wrapper {
  display: flex;
  flex-direction: row;
  gap: $cds-scale-base;

  @media (max-width: 600px) {
    display: none;
  }
}