@use '../../../styles/variables.scss' as *;

$locations: (
	'sidebar-left': 1,
	'center': 2,
	'sidebar-right': 3,
	'full-bleed': 1 / span 3,
);

@each $location, $value in $locations {
	.location--#{$location} {
		grid-column: $value;
	}
}

$paddings: (
	'none': 0,
	'x-small': $spacing-03,
	'small': $spacing-05,
	'medium': $spacing-06,
	'large': $spacing-08,
	'x-large': $spacing-10,
);

@each $padding, $value in $paddings {
	.padding--#{$padding} {
		padding: $value;
	}
}

$gaps: (
	'none': 0,
	'small': $spacing-05,
	'medium': $spacing-06,
	'large': $spacing-08,
);

@each $gap, $value in $gaps {
	.gap--#{$gap} {
		display: flex;
		flex-direction: column;
		gap: $value;
	}
}
