.root {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: $cds-color-surface-primary;
  padding: $cds-scale-base $cds-scale-large;
  gap: $cds-scale-x-small;

  &:hover {
    background: $cds-color-surface-faint;
    & > h2 {
      color: $cds-color-foreground-interactive-hover;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $cds-color-border-primary;
  }
}